@inherits LayoutComponentBase

<div class="d-flex justify-content-center align-items-center min-vh-100" style="background-color: #e9ecef;">
    <main class="w-100 d-flex justify-content-center p-3">
        @Body
    </main>
</div>